.alert{
    position: absolute;
    top:70%;
    left:10%;
    width:80%;
    height:200px;
    background:rgb(241, 241, 241);
    border:rgb(219, 219, 210) ridge 10px;
}
body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background:url("img/2.jpg");

}
.swal2-container.swal2-backdrop-show, .swal2-container.swal2-noanimation {
    background: rgb(189 26 26 / 0%)!important;
}

.swal2-popup {
    top: 30%!important;
    left: -30%!important;
}

.btn{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100vh;
}
:focus{
    outline: 0;
}

.person1{
    width:300px;
    height: 600px;
    position: absolute;
    top:20%;
    left:75%;
    overflow: hidden;
    display: none;
}
.person2{
    width:200px;
    height: 400px;
    position: absolute;
    top:40%;
    left:30%;
    overflow: hidden;
    display: none;
}
.pok1{
    width:450px;
    height: 450px;
    position: absolute;
    top:10%;
    left:20%;
    overflow: hidden;
    display: none;
}
.pok1:hover{
    filter: drop-shadow(10px 10px 10px #ffffff);
}

.pok2{
    width:425px;
    height: 450px;
    position: absolute;
    top:10%;
    left:60%;
    overflow: hidden;
    display: none;
}
.pok2:hover{
    filter: drop-shadow(10px 10px 10px #ffffff);
}
.pok3{
    width:200px;
    height: 200px;
    position: absolute;
    top:60%;
    left:40%;
    overflow: hidden;
    display: none;
}

.person3{
    position: absolute;
    top:43%;
    left:80%;
    display: none;
}

.attack{
    width:550px;
    height: 300px;
    border-radius: 10px;
    background:rgb(245, 222, 178,.7);
    position: absolute;
    top:60%;
    left:1%;
    display: none;
}

.atbtn{
    margin:20px;
    transform: translate(5%,5%);
    background:rgb(255, 85, 0);
    width:200px;
    height:100px;
    font-size:25px;
    color:#ffeaea;
    border-radius: 10px;
    box-sizing: inherit;
    
}

#blood{
    color:red;
    font-size: 50px;
    position: absolute;
    top:77%;
    left:44%;
}